<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Responsive -->
    <link rel="stylesheet" href="css/responsive.css">

    <title>Mook Market Place</title>
</head>

<body>
    <div class="page-wrap">


        <header class="dashboard-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-4">
                        <div class="dashboard-logoarea">
                            <img src="images/new-logo.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-8">
                        <div class="dashboard-head-right">
                            <h4 class="tab-head">Dashboard</h4>
                            <div class="dashboard-head-btn-right">
                                <div class="dashboard-head-btn-area">
                                    <a href="#">FIND VENDOR </a>
                                    <a href="#" class="border-btn"> LOGOUT </a>
                                </div>
                                <div class="user">
                                    <div class="user-thumb">
                                        <img src="images/user-small.png" class="img-fluid" alt="">
                                    </div>
                                    <span class="user-name">HI,JOHN DOE</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="user-details-tab">
            <div class="row">
                <div class="col-lg-3 col-sm-4">
                    <div class="user-details-tab-left">
                        <h4 class="tab-head">MAIN</h4>
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-dashboard-tab" data-toggle="pill" href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard" aria-selected="true"><img src="images/icon1.png" class="img-fluid icon-black" alt=""> <img src="images/icon1-g.png" class="img-fluid icon-green" alt="">Dashboard</a>

                            <a class="nav-link" id="v-pills-customer-profile-tab" data-toggle="pill" href="#v-pills-customer-profile" role="tab" aria-controls="v-pills-customer-profile" aria-selected="false"><img src="images/icon2.png" class="img-fluid icon-black" alt=""> <img src="images/icon2-g.png" class="img-fluid icon-green" alt="">Customer Profile</a>

                            <a class="nav-link" id="v-pills-transaction-tab" data-toggle="pill" href="#v-pills-transaction" role="tab" aria-controls="v-pills-transaction" aria-selected="false"><img src="images/icon3.png" class="img-fluid icon-black" alt=""> <img src="images/icon3-g.png" class="img-fluid icon-green" alt="">List of transaction</a>

                            <a class="nav-link" id="v-pills-graphic-expenditure-tab" data-toggle="pill" href="#v-pills-graphic-expenditure" role="tab" aria-controls="v-pills-graphic-expenditure" aria-selected="false"><img src="images/icon4.png" class="img-fluid icon-black" alt=""> <img src="images/icon4-g.png" class="img-fluid icon-green" alt="">Graphic Expenditure</a>

                            <a class="nav-link" id="v-pills-redemption-tab" data-toggle="pill" href="#v-pills--redemption" role="tab" aria-controls="v-pills--redemption" aria-selected="true"><img src="images/icon5.png" class="img-fluid icon-black" alt=""> <img src="images/icon5-g.png" class="img-fluid icon-green" alt="">Redemption</a>

                            <a class="nav-link" id="v-pills-reviews-tab" data-toggle="pill" href="#v-pills-reviews" role="tab" aria-controls="v-pills-reviews" aria-selected="false"><img src="images/icon6.png" class="img-fluid icon-black" alt=""> <img src="images/icon6-g.png" class="img-fluid icon-green" alt="">Reviews for service</a>

                            <a class="nav-link" id="v-pills-wallet-tab" data-toggle="pill" href="#v-pills-wallet" role="tab" aria-controls="v-pills-wallet" aria-selected="false"><img src="images/icon7.png" class="img-fluid icon-black" alt=""> <img src="images/icon7-g.png" class="img-fluid icon-green" alt="">Wallet</a>

                            <a class="nav-link" id="v-pills-customer-tab" data-toggle="pill" href="#v-pills-customer" role="tab" aria-controls="v-pills-customer" aria-selected="false"><img src="images/icon8.png" class="img-fluid icon-black" alt=""> <img src="images/icon8-g.png" class="img-fluid icon-green" alt="">Post Task As customer</a>

                            <a class="nav-link" id="v-pills-chat-with-admin-tab" data-toggle="pill" href="#v-pills-chat-with-admin" role="tab" aria-controls="v-pills-chat-with-admin" aria-selected="false"><img src="images/icon9.png" class="img-fluid icon-black" alt=""> <img src="images/icon9-g.png" class="img-fluid icon-green" alt="">Chat with Admin</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9 col-sm-8">
                    <div class="user-details-tab-right">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab">
                                <div class="dashboard-right1">
                                    <h3>CUSTOMER DASHBOARD</h3>
                                </div>

                                <div class="dashboard-right-box">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6 pr-md-0">
                                            <div class="dashboard-right-box-inner dashboard-right-box-inner1">
                                                <div>
                                                <h3>customer name</h3>
                                                    </div>
                                            </div>
                                            <div class="dashboard-right-box-inner dashboard-right-box-inner2">
                                                 <div>
                                                <h3>connected vendors</h3>
                                                     </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6 pr-md-0">
                                            <div class="dashboard-right-box-inner dashboard-right-box-inner3">
                                                 <div>
                                                <h3>services</h3>
                                                     </div>
                                            </div>
                                            <div class="dashboard-right-box-inner dashboard-right-box-inner4">
                                                 <div>
                                                <h3>Status</h3>
                                                     </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="dashboard-right-box-inner dashboard-right-box-inner5">
                                                 <div>
                                                <h3>Total points : 3000</h3>
                                                <p>joining date : 25-02-2022</p>
                                                     </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-customer-profile" role="tabpanel" aria-labelledby="v-pills-customer-profile-tab">
                                <div class="dashboard-right1">
                                    <h3>CUSTOMER PROFILE</h3>
                                </div>
                                <div class="dashboard-right2">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-12">
                                            <img src="images/user.png" class="img-fluid" alt="">


                                        </div>
                                        <div class="col-lg-6 col-sm-12">
                                            <ul>
                                                <li>Address : The News Building, Shard Quarter, 3 London
                                                    Bridge, London, SE1 9SG</li>
                                                <li>Gender : Male</li>
                                                <li>DOB : 15.12.2000</li>
                                                <li>Account Status : Active</li>
                                            </ul>

                                        </div>
                                        <div class="col-lg-6 col-sm-12">

                                            <ul>
                                                <li>
                                                    <h5>My Profile</h5>
                                                </li>
                                                <li>Customer Name : Albert Jonny</li>
                                                <li>Mobile Number : 9051951730</li>
                                                <li>Email : customername@gmail.com</li>
                                            </ul>
                                            <a href="#" class="password-btn">Change Passord</a>

                                        </div>
                                        <div class="col-lg-6 col-sm-12">

                                            <div class="upload-btn">
                                                <label for="input" id="label">
                                                    <img src="images/upload.png" class="img-fluid" alt="file upload">
                                                    <span id="span">Upload Receipt</span>
                                                    <input id="input" type="file">
                                                </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-transaction" role="tabpanel" aria-labelledby="v-pills-transaction-tab">
                               
                            </div>

                            <div class="tab-pane fade" id="v-pills-graphic-expenditure" role="tabpanel" aria-labelledby="v-pills-graphic-expenditure-tab">...</div>

                            <div class="tab-pane fade" id="v-pills--redemption" role="tabpanel" aria-labelledby="v-pills--redemption-tab">...</div>

                            <div class="tab-pane fade" id="v-pills-reviews" role="tabpanel" aria-labelledby="v-pills-reviews-tab">...</div>

                            <div class="tab-pane fade" id="v-pills-wallet" role="tabpanel" aria-labelledby="v-pills-wallet-tab">...</div>

                            <div class="tab-pane fade" id="v-pills-customer" role="tabpanel" aria-labelledby="v-pills-customer-tab">...</div>

                            <div class="tab-pane fade" id="v-pills-chat-with-admin" role="tabpanel" aria-labelledby="v-pills-chat-with-admin-tab">...</div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="dashboard-footer">
            <div class="container">
                <p>© CLEANING EXPERT 2022 ALL RIGHTS RESERVED</p>
            </div>
        </footer>
    </div>


    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>


    <script src="js/main.js"></script>



</body>

</html>
